@import "tailwindcss";

* {
  font-family: "ZCOOL KuaiLe", sans-serif;
}

body {
  margin: 0;
  font-family: monospace;
  animation: fadeInAnimation ease 3s;

  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background: #FF5733;
  }

  50% {
    background: #33FF57;
  }

  100% {
    background: #3357FF;
  }
}
