@import "tailwindcss";

* {
  font-family: "ZCOOL KuaiLe", sans-serif;
}

body {
  margin: 0;
  font-family: monospace;
  animation: fadeInAnimation ease 3s;

  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.about-gradient {
  background: linear-gradient(90deg, #3ba2e3, #3d9eed,  #3d89ed);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 100vh;
}
